<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">

      /* Sticky footer styles
      -------------------------------------------------- */
      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
        background-image: url('/img/me.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 100% 90%;
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
        padding-top: 60px;
      }
      .container .credit {
        margin: 20px 0;
      }

      code {
        font-size: 80%;
      }

    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <!-- Top nav bar -->
    <div id="wrap">
      <%= erb :menu, :locals => {:active => 'index'} %>
      <!-- Page content -->
      <div class="container">
        <div class="page-header">
          <h1>Welcome</h1>
          <p class="lead">This is my personal website</p>
        </div>

        <blockquote>
          <p>"Part of the inhumanity of the computer is that, once it is competently programmed and working smoothly, it is completely honest."</p>
          <small>Issac Asimov</small><br>
          <p>"Low-level programming is good for the programmer's soul."</p>
          <small>John Carmack</small><br>
          <p>"Those who would give up essential liberty to purchase a little temporary safety deserve neither liberty nor safety."</p>
          <small>Benjamin Franklin, 1775</small><br>
          <p>"Tyranny, whether it arises under threat of foreign physical attack or under constant domestic authoritative scrutiny, is still tyranny. Liberty requires security without intrusion, security plus privacy."</p>
          <small><a href="http://www.wired.com/politics/security/commentary/securitymatters/2006/05/70886" target="_blank">Bruce Schneier</a>, 2006</small>
        </blockquote>

        <div id="push"></div>
      </div>
    </div>

    <%= erb :footer %>

    <!-- ============================================= -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
