<div class="navbar navar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/">Brian Cain</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <% if active == 'index' %>
            <li class="active"><a href="/">Home</a></li>
          <% else %>
            <li><a href="/">Home</a></li>
          <% end %>
          <% if active == 'about' %>
            <li class="dropdown active">
          <% else %>
            <li class="dropdown">
          <% end %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/about">About</a></li>
              <li><a href="/resume">Resumé</a></li>
              <li><a href="/calendar">Calendar</a></li>
            </ul>
          </li>
          <% if active == 'contact' %>
            <li class="active"><a href="contact">Contact</a></li>
          <% else %>
            <li><a href="/contact">Contact</a></li>
          <% end %>
          <% if active == 'project' %>
            <li class="dropdown active">
          <% else %>
            <li class="dropdown">
          <% end %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/projects/derpsh">Derpsh</a></li>
              <li><a href="/projects/fpsdemo">FPS Demo</a></li>
              <li><a href="/projects/seniorproj">Senior Project</a></li>
              <li><a href="/projects/psa">Python Sort App</a></li>
              <li class="divider"></li>
              <li class="nav-header">Puppet Labs</li>
              <li><a href="/projects/puppetgatling">Puppet Gatling</a></li>
              <li class="disabled"><a href="#">PuppetDB Query Dasbhoard</a></li>
              <li class="divider"></li>
              <li class="nav-header">Moving Target Defense</li>
              <li class="disabled"><a href="#">Project Blog</a></li>
              <li class="disabled"><a href="#">Project Homepage</a></li>
              <li class="divider"></li>
              <li class="nav-header">INSIGHT GK12</li>
              <li><a href="/projects/gk12">Lessons</a></li>
            </ul>
          <li><a href="http://briancain-blog.herokuapp.com/" target="_blank">Blog</a></li>
          </li>
        </ul>
        <!--<form class="navbar-form pull-right">
          <input class="span2" type="text" placeholder="Email">
          <input class="span2" type="password" placeholder="Password">
          <button type="submit" class="btn">Sign in</button>
        </form> -->
      </div>
    </div>
  </div>
</div>
