<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Derp Shell</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">

      /* Sticky footer styles
      -------------------------------------------------- */
      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
        background-image: url('/img/me.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 100% 90%;
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
        padding-top: 60px;
      }
      .container .credit {
        margin: 20px 0;
      }

      code {
        font-size: 80%;
      }

    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <!-- Top nav bar -->
    <div id="wrap">
      <%= erb :menu, :locals => {:active => 'project'} %>
      <!-- Page content -->
      <div class="container">
        <div class="page-header">
          <h1>Custom Shell Program: Derpsh</h1>
          <p class="lead">A shell program written in C</p>
        </div>

        <p>Derpsh is a custom terminal shell that can be used on Unix. It was programmed in C, compiled with gcc. It was made as a joke with a friend while exploring what the C language could do with shell commands. It plays off the joke of 'herp' and 'derp'. It's an internet thing.</p>
        <ul>
          <li><a href="https://github.com/briancain/Derpsh" target="_blank">Derpsh</a> on github</li>
          <li><a href="http://briancain.github.io/Derpsh/" target-"_blank">Derpsh Official Page</a></li>
        </ul>
        <img src="/img/term.png"></img>

        <div id="push"></div>
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">Brian Cain. Last updated 6/22/2012 at 10:30 pm</p>
      </div>
    </div>

    <!-- ============================================= -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
