<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>INSIGHT GK12</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">

      /* Sticky footer styles
      -------------------------------------------------- */
      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
        background-image: url('/img/me.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 100% 90%;
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
        padding-top: 60px;
      }
      .container .credit {
        margin: 20px 0;
      }

      code {
        font-size: 80%;
      }

    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <!-- Top nav bar -->
    <div id="wrap">
      <%= erb :menu, :locals => {:active => 'project'} %>
      <!-- Page content -->
      <div class="container">
        <div class="page-header">
          <h1>INSIGHT GK12 Institute at K-State</h1>
          <p class="lead">A grant program put on by the National Science Foundation</p>
        </div>

        <p>Below are some of the lessons I did during my time as a GK12 fellow. These lessons were intended for students within the highschool age group.</p>

        <p>If you have any questions, please feel free to <a href="/contact.html">contact me</a></p><br>

        <ul id="myTab" class="nav nav-tabs">
          <li class="active"><a href="#thermo" data-toggle="tab">Thermometer</a></li>
          <li><a href="#scratch" data-toggle="tab">Intro to Scratch</a></li>
          <li><a href="#wave" data-toggle="tab">Sound Waves</a></li>
          <li><a href="#nxt" data-toggle="tab">Lego NXT Robots</a></li>
          <li><a href="#dna" data-toggle="tab">Bioinformatics</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="thermo">
            <p>This lesson was about getting students introduced to sensors, the scientific method, and scientific observation. It is great for getting students introduced to the program along with being introduced to the ways of science.</p>
            <p>Supplies required: </p>
            <ul>
              <li>1 Glass jar with hole in lid</li>
              <li>Cold water</li>
              <li>Hot water</li>
              <li>Large container for hot water</li>
              <li>Some silly putty</li>
              <li>1 drinking straw</li>
            </ul><br>

            <h3>Class Presentation</h3>
            <iframe src="https://docs.google.com/presentation/d/1V-52r3QbVhwVP1KvT54vk1q4j1njObU7rKvvM-tJJAs/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
          </div>
          <div class="tab-pane fade" id="scratch">
            <p>This lesson introduces students to Scratch, the educational programming language developed by MIT.</p>

            <strong>NEW!!</strong>
            <p>Scratch is now interfaced through a web browser! No need to install. Visit <a href="http://scratch.mit.edu/" target="_blank">scratch.mit.edu/</a> to try it for yourself.</p>

            <p>Optional Quiz Scratch Files: <p>
            <ul>
              <li><a href="http://gk12.cis.ksu.edu/uploads/lesson_material/file/7/math_quiz.sb">math_quiz.sb</a></li>
              <li><a href="http://gk12.cis.ksu.edu/uploads/lesson_material/file/6/multiple_choice_quiz_bowl.sb">multiple_choice_quiz_bowl.sb</a></li>
            </ul>

            <h3>Introduction to Scratch</h3>
            <iframe src="https://docs.google.com/presentation/d/1IXv2se2eTDMOjKnqYjoqWP6hgYQKtqdTicfDh3fuLwU/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

            <h3>Scratch Cheat Sheet</h3>
            <p><a href="https://docs.google.com/document/d/1bhCqcn-kPVCwfK02CrDif7Gn_aukI8uJWjoqLNpuuAw/pub" target="_blank">Click here</a> to view the full document</p>
            <iframe width=700 height=500 src="https://docs.google.com/document/d/1bhCqcn-kPVCwfK02CrDif7Gn_aukI8uJWjoqLNpuuAw/pub?embedded=true"></iframe>
          </div>
          <div class="tab-pane fade" id="wave">
            <p>This lesson introduces different technologies relating to sound waves.</p>

            <p>Supplies required: </p>
            <ul>
              <li>Verner sound wave sensor(s) with microphone</li>
              <li>Different pitched tuning forks, or other musical instrument</li>
              <li>Optional: Verner workbook relating to this equipment</li>
            </ul><br>

            <h3>Class Presentation</h3>
            <iframe src="https://docs.google.com/presentation/d/1TZ8dXWOxvJh4qCEBrGmBh80NF0yG9MsbTaSGLSJXzBo/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
          </div>
          <div class="tab-pane fade" id="nxt">
            <p>This is the Lego NXT Robot lesson with Enchanting. It attempts to teach students who have little to zero programming background about how to program a robot to accomplish a few basic movement-based tasked</p>

            <p>Special thanks to <a href="http://people.cis.ksu.edu/~hlyates/" target="_blank">Heath Yates</a> for the history, and flashing information added into the class presentation for the GK12 Summer Institute 2013.</p>

            <p>Required Materials: </p>
            <ul>
              <li><a href="http://shop.lego.com/en-US/LEGO-MINDSTORMS-NXT-2-0-8547" target="_blank">Lego NXT 2.0 Robot Kit</a></li>
              <li><a href="http://enchanting.robotclub.ab.ca/tiki-index.php" target="_blank">Lego NXT and Enchanting Drivers</a> for Windows, Mac, and Linux</li>
              <li>Track courses</li>
            </ul>

            <h3>Robot Assembly</h3>
            <p>There is some assembly required when it comes to this lesson. I recommend following the <a href="http://www.nxtprograms.com/five_minute_bot/" target="_blank">Five Minute Bot</a> design for this lesson.</p>

            <h3>Track Course Mockup</h3>
            <p>Assembling these tracks can be done in a couple different ways. One of which involves placing masking tape on tile or carpet floor. A longer lasting solution would be to use tape on large sturdy poster board</p>

            <h4>Simple Race Track</h4>
            <p>Get students to complete 1 lap with the robot. Extra credit would be 2 or more laps.</p>
            <img src="/img/track1.png"></a><br>

            <h4>Simple Garage</h4>
            <p>Get students to have a robot drive from one garage and park in the other. Extra credit would be to have the robot leave the first garage, turn around, and back up into the other garage.</p>
            <img src="/img/track2.png"></a><br>

            <h3>Class Presentation</h3>
            <iframe src="https://docs.google.com/presentation/d/1pVHmDny7Vs6HSXgQFAV0At0veGwLFOQXLmOKDe1CYck/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
          </div>
          <div class="tab-pane fade" id="dna">
            <p>A lesson about the importance of algorithms in computer science, and how automation can make peoples lives easier. This is demonstrated by making the task of converting DNA to RNA automated.</p>

            <p>Thanks to Nathan Bean for the Scratch stater file for this lesson.</p>

            <p>Required Scratch and Sequence Files: <p>
            <ul>
              <li><a href="http://gk12.cis.ksu.edu/uploads/lesson_material/file/103/dna_to_protein_starter.sb">dna_to_protein_starter.sb</a></li>
              <li><a href="http://gk12.cis.ksu.edu/uploads/lesson_material/file/15/dnatoprotein.sb">dnatoprotein.sb</a></li>
              <li><a href="http://gk12.cis.ksu.edu/uploads/lesson_material/file/16/dnatoproteinsequence.txt">dnatoproteinsequence.txt</a></li>
            </ul>

            <h3>Program in action</h3>
            <img src="/img/scratch.png"></img>

            <h3>Class Presentation</h3>
            <iframe src="https://docs.google.com/presentation/d/1eWxBhZv5efGvyXohsqpVxr16YzX_S4FUzylqOEJmNtI/embed?start=false&loop=false&delayms=3000" frameborder="0" width="480" height="389" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>

            <h3>Genome handout</h3>
            <iframe width=700 height=500 src="https://docs.google.com/document/d/1I1Ns-C6gegr2G-80IgNDNvIhHzcFxLnPX5bTlvav3QE/pub?embedded=true"></iframe>
          </div>
        </div>

        <div id="push"></div>
      </div>
    </div>

    <%= erb :footer %>

    <!-- ============================================= -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script>
      $(function () {
        $('#myTab a:first').tab('show');
      })
    </script>
  </body>
</html>
